//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 19 16:05:03 2016
//! **************************************************************************

SCHEMATIC START;
COMP "ASCII_OUT<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "ASCII_OUT<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "ASCII_OUT<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "ASCII_OUT<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "ASCII_OUT<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "ASCII_OUT<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "ASCII_OUT<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "P11" LEVEL 1;
COMP "ASCII_OUT<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "R12" LEVEL 1;
COMP "RST" LOCATE = SITE "B18" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

