//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 19 17:21:48 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RST" LOCATE = SITE "B18" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "T4" LEVEL 1;
COMP "ASCII_D<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "ASCII_D<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "ASCII_D<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "ASCII_D<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "ASCII_D<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "ASCII_D<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "ASCII_D<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "ASCII_D<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "U3" LEVEL 1;
COMP "VGABLU<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "VGABLU<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "P11" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "R12" LEVEL 1;
COMP "VGAGRN<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "VGAGRN<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "VGAGRN<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "VGARED<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "VGARED<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "VGARED<2>" LOCATE = SITE "R8" LEVEL 1;
NET "CLK_IBUFG1" BEL "CLK_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_IBUFG1" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

