//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 26 08:28:47 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "VGARED<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "VGARED<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "VGARED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "T4" LEVEL 1;
COMP "RST" LOCATE = SITE "B18" LEVEL 1;
COMP "VGAGRN<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "VGAGRN<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "VGABLU<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "VGAGRN<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "VGABLU<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "U3" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "G18" LEVEL 1;
NET "CLK_IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

